<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520493603711-f1bbdhl5eqcitflmcjf94gpmn6m4ucfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520493603711-f1bbdhl5eqcitflmcjf94gpmn6m4ucfl</string>
	<key>API_KEY</key>
	<string>AIzaSyD6O-5NU_pOVVMgKiUtNFNMxt_6PsvTrAM</string>
	<key>GCM_SENDER_ID</key>
	<string>520493603711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter-bootstrap.com</string>
	<key>PROJECT_ID</key>
	<string>flutter-bootstrap-cksrc-42bb5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bootstrap-cksrc-42bb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520493603711:ios:0ed78b9deec7178e4c184a</string>
</dict>
</plist>